@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Monserrat", sans-serif;
    font-weight: 400;
    background: #120F1C;
}
header{
    background: #161321;
}
.menu-ul{
    background: #161321;
}

main{
    min-height: calc(100vh - 130px);
}
footer{
    background: #070415;
}
.bg-nav{
    background: #161321;
}
